@use "../../../styles/variables" as *;

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.input-label {
  font-size: $font-size-md;
  font-weight: 500;
  color: var(--color-text);
}

.custom-input {
  width: 100%;
  padding: $space-sm $space-md;
  border-radius: $radius-md;
  border: 1px solid var(--color-border);;
  background: var(--color-surface-light);
  font-size: $font-size-md;
  color: var(--color-text);
  transition: $transition-normal;
  height: 40px;

  &::placeholder {
    color: var(--color-text-muted);
    font-size: $font-size-sm;
  }

  &:focus {
    outline: none;
    box-shadow: var(--shadow-hover);
    border-color: var(--color-primary);
  }

  &:disabled {
    background: #f3f4f6;
    cursor: not-allowed;
    color: #9ca3af;
  }
}
