.card {
  //flex: 1;
  min-height: 0;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: var(--color-surface);
  animation: fadeInPage 0.4s ease;
  border-radius: 16px;
  box-shadow: var(--shadow-soft);

  &__content {
    width: 100%;
    background: var(--color-card-bg);
    backdrop-filter: blur(16px);
    box-shadow: var(--shadow-card);
    transition: transform 0.3s ease;
    flex: 1;
    min-height: 0;
    overflow: auto;

    &--sm {
      max-width: 700px;
    }
  }

  &__header {
    margin-bottom: 2rem;
    text-align: center;

    h1 {
      font-size: 2rem;
      font-weight: 700;
      background: linear-gradient(
                      90deg,
                      var(--color-text),
                      var(--color-primary),
                      var(--color-secondary)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      margin-top: 0.5rem;
      font-size: 1rem;
      color: var(--color-text-secondary);
    }
  }
}

@keyframes fadeInPage {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
