.gallery {
  &__main {
    position: relative;

    & img {
      width: 100%;
      height: 500px;
      object-fit: cover;
      border-radius: 20px;
      transition: opacity 0.3s ease;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-bg);
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--color-text);

    &.left {
      left: 15px;
    }

    &.right {
      right: 15px;
    }
  }

  &__thumbs {
    display: flex;
    gap: 12px;
    margin-top: 15px;
    overflow-x: auto;

    & img {
      width: 110px;
      height: 75px;
      object-fit: cover;
      border-radius: 12px;
      cursor: pointer;
      opacity: 0.6;
      transition: 0.3s;

      &.active {
        border: 2px solid var(--color-primary);
        opacity: 1;
      }
    }
  }

}
