.main {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
  }

  &__user-card {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px black solid;
    padding: 1rem;
    border-radius: 999px;
  }
}

.user-logo {
  border-radius: 50%;
  height: 3rem;
  width: auto;
}

.main__title {
  font-size: 2rem;
  font-weight: 800;
}

.main__button {
  border-radius: 999px;
  cursor: pointer;
  padding: 1rem;
  border: 1px black solid;

  &:hover {
    transform: translateY(-4px) scale(1.05);
  }

  &:active {
    transform: scale(0.97);
  }
}